html, body {
  height: 100%;
}

.interactive {
  cursor: pointer;
}

.label-primary.interactive:hover {
  background-color: #88A;
}
.label-default.interactive:hover {
  background-color: #444;
}

#filters, #gig-listing {
  padding-top: 10px;
}

#gig-listing .back-to-search {
  position: sticky;
  width: 100%;
  height: 45px;
  top: 0px;
  margin-bottom: 10px;
}

.gig, .infinite-scroll {
  background-color: #FEE;
  padding: 10px 20px 20px 20px;
  margin-bottom: 10px;
}

.infinite-scroll {
  text-align: center;
}

.gig .artists-images img {
  float: right;
  margin-left: -30px;
  border: 5px solid #FEE;
}

.gig .venue {
  clear: both;
}

.gig .external-link {
  border-top: 1px solid #CCC;
  padding-top: 10px;
  margin-top: 15px;
  text-align: right;
}

#filters .submit button {
  padding: 20px;
  width: 100%;
}

#filters .calendars {
  text-align: center;
}