.gig, .infinite-scroll {
  background-color: #FEE;
  padding: 10px 20px 20px 20px;
  margin: 10px;
}

.infinite-scroll {
  text-align: center;
}

.gig .artists-images img {
  float: right;
  margin-left: -30px;
  border: 5px solid #FEE;
}

.gig .venue {
  clear: both;
}

.gig .external-link {
  border-top: 1px solid #CCC;
  padding-top: 10px;
  margin-top: 15px;
  text-align: right;
}